<!DOCTYPE html>
<html>
<head>
  <title>TennisRank</title>
  <%= stylesheet_link_tag    "tennis_rank/application", media: "all" %>
  <%= javascript_include_tag "tennis_rank/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
